<section class="container p-2 mx-auto mt-2 min-h-fit prose lg:prose-xl">
  <div class="flex">
    <h1
      class="letra  text-3xl  font-bold items-center mx-auto align-middle justify-center"
      transition:name="vt-title"
    >
        <span class="transition duration-700 ease-in-out fill-current cursor-pointer text-[#4C4B16]  hover:text-[#F87A53]">
      KOALA
      </span>   
      <span class="text-3xl font-light text-[#4C4B16]">growshop</span>
    </h1>
  </div>
 
    <article>
      <p>
        Somos especialistas en productos de cultivo, donde la naturaleza se encuentra
        con la innovación. En Koala Growshop encontrarás todo lo necesario para
        optimizar tu cultivo, desde semillas hasta sistemas de iluminación de
        última tecnología. Con asesoramiento experto y productos de calidad, te
        acompañamos en cada etapa de tu crecimiento. ¡Descubre el mundo del
        cultivo con la tranquilidad y sabiduría del koala!
      </p>
       
    </article>
  
</section>

 