<section class="container p-2 mx-auto mt-2 min-h-fit prose lg:prose-xl">
    <div class="flex">
      <h1
        class="letra  text-3xl  font-bold items-center mx-auto align-middle justify-center"
        transition:name="vt-title"
      >
      <span class="transition duration-700 ease-in-out fill-current cursor-pointer text-[#4C4B16]  hover:text-[#F87A53]">
        NOSOTROS
      </span>  
         
      </h1>
    </div>
   
      <article>
  <p>
    En Koala Growshop nos apasiona el cultivo y la naturaleza. Somos un equipo
    de expertos dedicados a proporcionar las mejores herramientas y
    asesoramiento para cada etapa de tu crecimiento. Nuestro objetivo es ofrecer
    productos de alta calidad y un servicio personalizado que te ayude a
    conseguir una cosecha exitosa y saludable. Con la sabiduría tranquila del
    koala, guiamos a nuestros clientes en su viaje por el mundo del cultivo,
    asegurando que cada planta reciba el cuidado que merece
  </p>
</article>
 
</section>
