<section class="container p-2 mx-auto mt-2 min-h-fit prose lg:prose-xl">
  <div class="flex">
    <h1
      class="letra  font-bold items-center mx-auto align-middle justify-center text-3xl   "
      transition:name="vt-title"
    >
    <span class="transition duration-700 ease-in-out fill-current cursor-pointer text-[#4C4B16]  hover:text-[#F87A53]">
        SERVICIOS
      </span> 
      
    </h1>
  </div>

  <article  >
    <p>
      En Koala Growshop, ofrecemos una variedad de servicios para facilitar tu
      experiencia de cultivo:
      <ul class="list-none">
        <li>
          <span class="font-bold">Asesoramiento Personalizado: </span> Nuestros expertos
          están disponibles para ofrecerte consejos y soluciones adaptadas a tus
          necesidades específicas.
        </li>
        <li>
          <span class="font-bold">Venta de Productos de Cultivo: </span>
          Desde semillas de alta calidad hasta sistemas de iluminación y nutrientes,
          tenemos todo lo que necesitas para tu cultivo.
        </li>
        <li>
          <span class="font-bold">Talleres y Cursos: </span>
          Aprende las mejores prácticas de cultivo en nuestros talleres y cursos,
          diseñados para cultivadores de todos los niveles.
        </li>
        <li>
          <span class="font-bold">Soporte Técnico: </span>
          Si tienes problemas con tu equipo de cultivo, nuestro equipo de soporte
          técnico está aquí para ayudarte a resolver cualquier inconveniente.
        </li>
        <li>
          <span class="font-bold">Envíos a Domicilio: </span>
          Disfruta de la comodidad de recibir tus productos directamente en la puerta
          de tu casa, con un servicio rápido y seguro.
        </li>
      </ul>
    </p>
  </article>
</section>
